## Ejemplo 6: Automatizando peticiones

### 1. Objetivos:
    - Usar todo lo que aprendimos para automatizar peticiones al API
    - Guardar nuestros resultados en un archivo tipo .csv
 
---
    
### 2. Desarrollo:

Veamos cómo usar todo lo que aprendimos para automatizar el proceso de realizar múltiples peticiones a la API, reunirlas en un `DataFrame` y guardarlo en un .csv:

In [30]:
import pandas as pd
import requests

In [38]:
url = 'https://api.nasa.gov/neo/rest/v1/neo/browse/'
parametros = {
    'api_key': 'XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt'
}

Obtener 10 páginas de datos del API.

In [39]:
diccionarios = []
for i in range(10):
    resultados = requests.get(url, params=parametros)
    if resultados.status_code == 200:
        datos = resultados.json()
        objetos = datos["near_earth_objects"]
        diccionarios.append(objetos)
        url = datos ["links"]["next"]
        parametro = {}
        print(datos["links"]["self"])
    else:
        print("Error al obtener la página")

http://www.neowsapp.com/rest/v1/neo/browse?page=0&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=1&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=2&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=3&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=4&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=5&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=6&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=7&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=8&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt
http://www.neowsapp.com/rest/v1/neo/browse?page=9&size=20&api_key=XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt,XI4lyP5eeMKNS5ZooqY073Gll4dIaOxwTXnVgLVt

Valiando la cantidad de diccionarios obtenidos:

In [25]:
len(diccionarios)

10

Validando el tipo de dato del elemento 0 de la lista:

In [28]:
type(diccionarios[0])

list

Normalizar y crea los dataframes usando `map` o listas de compresión:

In [32]:
dfs = [pd.json_normalize(d) for d in diccionarios]

Valida el tipo de dato del elemento 0:

In [33]:
type(dfs[0])

pandas.core.frame.DataFrame

Explora el inicio del dataframe del elemento 0:

In [34]:
dfs[0].head()

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2004034,2004034,4034 Vishnu (1986 PA),Vishnu,4034,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004034,18.32,True,"[{'close_approach_date': '1901-08-21', 'close_...",False,...,.588998629780359,296.7001970709545,1.530150913452289,2459117.217047231721,75.2597505628063,.9036633315848436,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
1,2004055,2004055,4055 Magellan (1985 DO2),Magellan,4055,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004055,14.71,False,"[{'close_approach_date': '1902-08-30', 'close_...",False,...,1.226626612246686,154.3928395095554,2.414144907891243,2459037.386791628232,144.1087358617548,.4012905471095006,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2004179,2004179,4179 Toutatis (1989 AC),Toutatis,4179,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004179,15.24,True,"[{'close_approach_date': '1903-01-24', 'close_...",False,...,.956497226209777,277.9991177324344,4.132494159807088,2459201.250945573887,359.8176482415533,.2428295269160061,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
3,2004183,2004183,4183 Cuno (1959 LM),Cuno,4183,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004183,14.11,True,"[{'close_approach_date': '1903-09-16', 'close_...",False,...,.7253371795917459,236.3984059681077,3.242801194500169,2459081.800976721272,110.9849907476976,.352670273937897,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
4,2004197,2004197,4197 Morpheus (1982 TA),Morpheus,4197,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004197,14.91,False,"[{'close_approach_date': '1906-05-26', 'close_...",False,...,.5216956988048178,122.5555093581483,4.067403948937319,2459341.688184719180,15.5428988510504,.2835684016560779,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...

Concatena los dataframes en un sólo dataframe y reinicia índices (por alguna buena razón hemos creado una lista de dataframes ¿cierto?):

In [35]:
df = pd.concat(dfs)

df

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range,sentry_data
0,2004034,2004034,4034 Vishnu (1986 PA),Vishnu,4034,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004034,18.32,True,"[{'close_approach_date': '1901-08-21', 'close_...",False,...,296.7001970709545,1.530150913452289,2459117.217047231721,75.2597505628063,.9036633315848436,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
1,2004055,2004055,4055 Magellan (1985 DO2),Magellan,4055,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004055,14.71,False,"[{'close_approach_date': '1902-08-30', 'close_...",False,...,154.3928395095554,2.414144907891243,2459037.386791628232,144.1087358617548,.4012905471095006,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN
2,2004179,2004179,4179 Toutatis (1989 AC),Toutatis,4179,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004179,15.24,True,"[{'close_approach_date': '1903-01-24', 'close_...",False,...,277.9991177324344,4.132494159807088,2459201.250945573887,359.8176482415533,.2428295269160061,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
3,2004183,2004183,4183 Cuno (1959 LM),Cuno,4183,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004183,14.11,True,"[{'close_approach_date': '1903-09-16', 'close_...",False,...,236.3984059681077,3.242801194500169,2459081.800976721272,110.9849907476976,.352670273937897,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
4,2004197,2004197,4197 Morpheus (1982 TA),Morpheus,4197,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004197,14.91,False,"[{'close_approach_date': '1906-05-26', 'close_...",False,...,122.5555093581483,4.067403948937319,2459341.688184719180,15.5428988510504,.2835684016560779,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2036183,2036183,36183 (1999 TX16),NaN,36183,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2036183,16.30,False,"[{'close_approach_date': '1908-11-26', 'close_...",False,...,311.164209075178,2.066772497052938,2459172.329104617749,14.37088082809856,.5101321996727431,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN
16,2036236,2036236,36236 (1999 VV),NaN,36236,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2036236,15.89,False,"[{'close_approach_date': '1902-05-29', 'close_...",False,...,19.78160441199078,1.897072872349065,2459163.994165011957,23.3928669810526,.6407980255406982,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
17,2036284,2036284,36284 (2000 DM8),NaN,36284,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2036284,14.94,False,"[{'close_approach_date': '1908-07-29', 'close_...",False,...,317.9627552342487,2.305331222145377,2459704.341780239671,192.1206587502915,.545342939217041,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
18,2037336,2037336,37336 (2001 RM),NaN,37336,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2037336,15.63,False,"[{'close_approach_date': '1913-10-25', 'close_...",False,...,117.9993607106022,3.342490141039897,2459538.107168056208,318.7237210277229,.2914843898007574,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN
19,2037638,2037638,37638 (1993 VB),NaN,37638,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2037638,19.30,True,"[{'close_approach_date': '1906-12-03', 'close_...",False,...,323.115958927725,2.90216007459676,2459001.280611793807,74.43388069050786,.3736276943761538,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN

Comprobemos la cantidad de objetos en el dataframe final, 10 páginas con 20 objetos cada una:

In [36]:
df_1 = df.reset_index(drop=True)
df_1

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range,sentry_data
0,2004034,2004034,4034 Vishnu (1986 PA),Vishnu,4034,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004034,18.32,True,"[{'close_approach_date': '1901-08-21', 'close_...",False,...,296.7001970709545,1.530150913452289,2459117.217047231721,75.2597505628063,.9036633315848436,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
1,2004055,2004055,4055 Magellan (1985 DO2),Magellan,4055,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004055,14.71,False,"[{'close_approach_date': '1902-08-30', 'close_...",False,...,154.3928395095554,2.414144907891243,2459037.386791628232,144.1087358617548,.4012905471095006,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN
2,2004179,2004179,4179 Toutatis (1989 AC),Toutatis,4179,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004179,15.24,True,"[{'close_approach_date': '1903-01-24', 'close_...",False,...,277.9991177324344,4.132494159807088,2459201.250945573887,359.8176482415533,.2428295269160061,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
3,2004183,2004183,4183 Cuno (1959 LM),Cuno,4183,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004183,14.11,True,"[{'close_approach_date': '1903-09-16', 'close_...",False,...,236.3984059681077,3.242801194500169,2459081.800976721272,110.9849907476976,.352670273937897,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
4,2004197,2004197,4197 Morpheus (1982 TA),Morpheus,4197,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2004197,14.91,False,"[{'close_approach_date': '1906-05-26', 'close_...",False,...,122.5555093581483,4.067403948937319,2459341.688184719180,15.5428988510504,.2835684016560779,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2036183,2036183,36183 (1999 TX16),NaN,36183,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2036183,16.30,False,"[{'close_approach_date': '1908-11-26', 'close_...",False,...,311.164209075178,2.066772497052938,2459172.329104617749,14.37088082809856,.5101321996727431,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN
196,2036236,2036236,36236 (1999 VV),NaN,36236,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2036236,15.89,False,"[{'close_approach_date': '1902-05-29', 'close_...",False,...,19.78160441199078,1.897072872349065,2459163.994165011957,23.3928669810526,.6407980255406982,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
197,2036284,2036284,36284 (2000 DM8),NaN,36284,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2036284,14.94,False,"[{'close_approach_date': '1908-07-29', 'close_...",False,...,317.9627552342487,2.305331222145377,2459704.341780239671,192.1206587502915,.545342939217041,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN
198,2037336,2037336,37336 (2001 RM),NaN,37336,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2037336,15.63,False,"[{'close_approach_date': '1913-10-25', 'close_...",False,...,117.9993607106022,3.342490141039897,2459538.107168056208,318.7237210277229,.2914843898007574,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN
199,2037638,2037638,37638 (1993 VB),NaN,37638,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2037638,19.30,True,"[{'close_approach_date': '1906-12-03', 'close_...",False,...,323.115958927725,2.90216007459676,2459001.280611793807,74.43388069050786,.3736276943761538,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN

Guarda tu dataframe en el archivo `objetos_tierra_nasa.csv`:

In [37]:
df_1.to_csv("objetos_tierra_nasa.csv")

---
---

## Reto 6: Automatizando peticiones

### 1. Objetivos:
    - Automatizar la petición de datos a la API de la NASA por fechas.
 
---
    
### 2. Desarrollo:

### a) Automatizando peticiones

En el primer Reto realizaste una petición a la API de la NASA para pedir 5 datos de la hoja #100. Ahora, vamos a automatizar el proceso de realizar peticiones a la API para obtener una cantidad bastante mayor de datos.

Vamos a obtener ahora los datos por fechas, así que tendrás que ir a la página de la [api de la NASA](https://api.nasa.gov/), para revisar cómo es posible realizar peticiones por fecha. Queremos obtener los **dos primeros meses (Enero y Febrero) del año 1995**. Observa que la API sólo permite peticiones por fecha en rangos de 7 días.

Tu reto tiene los siguientes pasos:

1. Revisa la documentación de la API de la NASA para entender cómo realizar peticiones por fecha.
2. Realiza una primera petición de prueba para entender el formato de los datos que obtienes de regreso (cómo extraemos los datos que necesitamos y qué estructura tienen).
2. Escribe el código necesario para automatizar las peticiones a la API y obtener los meses de Enero y Febrero del año 1995.
3. Almacena los datos de cada petición y luego usa esos datos para crear `DataFrames`.
4. Concatena verticalmente tus `DataFrames` para obtener un `DataFrame` final que contenga todos los datos de tus peticiones. Cada fila tiene que corresponder a un objeto espacial.
5. Guarda tu `DataFrame` con el nombre de `near_earth_objects-january_february_1995-raw.csv`.

> **Nota**: En este momento no te preocupes por explorar o limpiar tu dataset. Eso lo haremos en la siguiente sesión. Lo que sí tienes que asegurarte es de normalizar tus datos antes de convertirlos en `DataFrame`.

¡Mucha suerte!